{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/formhelpers.css" />
<link rel="stylesheet" href="/static/styles/index.css" />
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
<section id="signin-section">
    <div id="signin-box">
        <header>
            <img id="logo" src="/static/images/UTSCLogo.png" alt="University of Toronto Logo">
            <h1 id="course-title">CSCB63</h1>
            <h2>Sign In To Your Account</h2>
        </header>
        <form method="POST" id="signin-form">
            {% include 'includes/_flashedMessages.html' %}
            <div class="form-element">
                <label for="username">Enter your username:</label>
                <input class="form-control" type="text" name="username" placeholder="Username..." required>
            </div>
            <div class="form-element">
                <!--6 or more characters-->
                <label for="password">Enter your password:</label>
                <input class="form-control" type="password" name="password" placeholder="Password..." required
                    minlength="6">
            </div>
            <div class="form-element">
                <button id="submit" type="submit">Sign In</button>
            </div>
        </form>
        <p>
            New here? <a href="{{ url_for('register')}}">Make an account</a>
        </p>
    </div>
</section>
{% endblock %}