{% extends 'template.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/components.css" />
<link rel="stylesheet" href="/static/styles/tablehelpers.css" />
<link rel="stylesheet" href="/static/styles/weekly.css" />
{% endblock %}

{% block title %}Weekly Content{% endblock %}

{% block header %}Weekly Content{% endblock %}

{% block content %}
<ul class="display-card-container">
  <li class="weekly-item right">
    <details>
      <summary>
        <div class="summary-container">
          Week 1 - Intro, Worst Case Complexity
          <div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                1 Recording
              </a>
            </div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                2 Recording
              </a>
            </div>
          </div>
        </div>
      </summary>
      <ul class="links">
        <li class="links-item separator">
          Wednesday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item separator">
          Thursday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          CLRS 3.1 (not including little "oh") or watch
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="inline-link-item">Big Oh
            Video</a>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="inline-link-item">Insertion
            Sort Video</a>
        </li>
        <li class="links-item separator">
          Wednesday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Intro Slides PDF</a>
        </li>
        <li class="links-item separator">
          Thursday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Slides PDF</a>
        </li>
        <li class="links-item separator">
          Tutorials
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Handout</a>
        </li>
      </ul>
    </details>
  </li>
  <li class="weekly-item left">
    <details>
      <summary>
        <div class="summary-container">
          Week 2 - Balanced Trees (AVL)
          <div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                1 Recording
              </a>
            </div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                2 Recording
              </a>
            </div>
          </div>
        </div>
      </summary>
      <ul class="links">
        <li class="links-item separator">
          Wednesday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item separator">
          Thursday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          Refresh your understanding of binary search trees
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="inline-link-item">BST
            Video</a>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="inline-link-item">Visualization
            Applet</a>
        </li>
        <li class="links-item separator">
          Wednesday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Worksheet</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Worksheet <b>(Inclass)</b></a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Slides</a>
        </li>
        <li class="links-item separator">
          Thursday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Worksheet</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Worksheet <b>(Inclass)</b></a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Slides</a>
        </li>
        <li class="links-item separator">
          Tutorials
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Handout</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Solutions</a>
        </li>
      </ul>
    </details>
  </li>
  <li class="weekly-item right">
    <details>
      <summary>
        <div class="summary-container">
          Week 3 - AVL Trees height, and Augment. Interval Trees
          <div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                1 Recording
              </a>
            </div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                2 Recording
              </a>
            </div>
          </div>
        </div>
      </summary>
      <ul class="links">
        <li class="links-item separator">
          Wednesday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item separator">
          Thursday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item separator">
          Wednesday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">AVL Tree Augmenting Worksheet</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">AVL Tree Augmenting Worksheet <b>(Inclass)</b></a>
        </li>
        <li class="links-item separator">
          Thursday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Interval Trees Worksheet</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Interval Trees <b>(Inclass)</b></a>
        </li>
        <li class="links-item separator">
          Tutorials
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Handout</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Solutions</a>
        </li>
      </ul>
    </details>
  </li>
  <li class="weekly-item left">
    <details>
      <summary>
        <div class="summary-container">
          Week 4 - Finish Interval Trees, Heaps and Graph Search
          Algorithms
          <div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                1 Recording
              </a>
            </div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                2 Recording
              </a>
            </div>
          </div>
        </div>
      </summary>
      <ul class="links">
        <li class="links-item separator">
          Wednesday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item separator">
          Thursday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          Chapter 6.1-6.4
        </li>
        <li class="links-item separator">
          Wednesday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Interval Tree Search Proof</b></a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Heaps</b></a>
        </li>
        <li class="links-item separator">
          Thursday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Heaps <b>(Inclass)</b></a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Heap Building Example</b></a>
        </li>
        <li class="links-item separator">
          Tutorials
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Handout</a>
        </li>
      </ul>
    </details>
  </li>
  <li class="weekly-item right">
    <details>
      <summary>
        <div class="summary-container">
          Week 5 - Graph Searches and Minimum Spanning Trees
          <div class="recording-button round-btn">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
              2 Recording
            </a>
          </div>
        </div>
      </summary>
      <ul class="links">
        <li class="links-item separator">
          Wednesday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          Term Test Wed
        </li>
        <li class="links-item separator">
          Thursday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          If you have not had your tutorial, read the graph handout on the tutorials page.
        </li>
        <li class="links-item separator">
          Wednesday Slides/Worksheets
        </li>
        <li class="links-item separator">
          Thursday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Graph Search Slides</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Searches Worksheet</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">MST Slides</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">MST Worksheet</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">MST Worksheet <b>Solutions</b>
            <em>(Updated)</em></a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Graph Notes <b>(Inclass)</b></a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">MST <b>(Inclass)</b></a>
          Only to slide 15
        </li>
        <li class="links-item separator">
          Tutorials
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Graph Definitions</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">BFS Handout</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">BFS Practice</a>
        </li>
      </ul>
    </details>
  </li>
  <li class="weekly-item left">
    <details>
      <summary>
        <div class="summary-container">
          Week 6 - Proof of Prims, Dijkstra's Algorithm, Strongly
          Connected Components
          <div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                1 Recording
              </a>
            </div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                2 Recording
              </a>
            </div>
          </div>
        </div>
      </summary>
      <ul class="links">
        <li class="links-item separator">
          Wednesday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          Ch 24.3, Practice Prims algorithm
        </li>
        <li class="links-item separator">
          Thursday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          22.5, Review DFS - make sure you understand it
        </li>
        <li class="links-item separator">
          Wednesday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">MST <b>(Inclass)</b></a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Dijkstra</a>
        </li>
        <li class="links-item separator">
          Thursday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Strongly Connected Components Slides</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">SCC Examples</a>
        </li>
        <li class="links-item separator">
          Tutorials
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Handout</a>
        </li>
      </ul>
    </details>
  </li>
  <li class="weekly-item right">
    <details>
      <summary>
        <div class="summary-container">
          Week 7 - Amortized Analysis
          <div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                1 Recording
              </a>
            </div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                2 Recording
              </a>
            </div>
          </div>
        </div>
      </summary>
      <ul class="links">
        <li class="links-item separator">
          Wednesday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          Ch. 17.4, Ch. 21
        </li>
        <li class="links-item separator">
          Thursday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item separator">
          Wednesday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Amortized Lecture Slides</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Amortized Lecture Slides <b>(Inclass)</b></a>
        </li>
        <li class="links-item separator">
          Thursday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Potential Lecture Slides</a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Potential Lecture Slides <b>(Inclass)</b></a>
        </li>
        <li class="links-item separator">
          Tutorials
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Handout</a>
        </li>
      </ul>
    </details>
  </li>
  <li class="weekly-item left">
    <details>
      <summary>
        <div class="summary-container">
          Week 8 - Disjoint Sets, Fibonacci Heaps
          <div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                1 Recording
              </a>
            </div>
            <div class="recording-button round-btn">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Lecture
                2 Recording
              </a>
            </div>
          </div>
        </div>
      </summary>
      <ul class="links">
        <li class="links-item separator">
          Wednesday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item">
          Ch. 20
        </li>
        <li class="links-item separator">
          Thursday Pre-Lecture Reading/Exercise
        </li>
        <li class="links-item separator">
          Wednesday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Disjoint Sets</a>
        </li>
        <li class="links-item separator">
          Thursday Slides/Worksheets
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Fibonacci Heaps <b>Annotated</b></a>
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Fibonacci Heaps Complexity <b>Annotated</b></a>
        </li>
        <li class="links-item separator">
          Tutorials
        </li>
        <li class="links-item">
          <a href="../docs/dummy.pdf" target="_blank">Handout</a>
        </li>
      </ul>
    </details>
  </li>
</ul>
{% endblock %}